:root{
    --brand-color:rgba(132, 24, 68, 1);
    --body-text:rgba(0, 0, 0, 1);
    --white:rgba(255, 255, 255, 1);
    --light-grey:rgba(236, 242, 245, 1);
    --grey:rgba(108, 110, 123, 1);
    --logo-color:rgba(44, 20, 94, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--body-text);
    background: var(--white);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background: var(--white);
    padding: 20px 0;
    border-bottom: 1px solid var(--white);
}

.logo {
    display: flex;
    gap: 25px;
    height: 75px;
    padding: 40px 0 43px 0;
    margin-bottom: 43px;
}
.logo-img{
    width: 93px;
    height: 66px;
}
.logo-text{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 0.125em;
    color: var(--logo-color);
    text-transform: uppercase;
}

/* HERO */
.hero {
    position: relative;
    color: var(--white);
    height: 646px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.hero-content p {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0;
}

/* LIST PAGE */
.section-title {
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0;
    margin: 54px 0 59px 0;
    text-transform: uppercase;
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 82px 40px;
    margin-bottom: 83px;
}

.recipes-card {
    position: relative;
    flex: 0 0 calc(50% - 40px);
    padding-bottom: 90px;
}

.date {
    display: inline-block;
    background: var(--light-grey);
    color: var(--grey);
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 6px 18px;
}

.recipes-card h3 {
    color: var(--body-text);
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
}

.recipes-card:hover h3 {
    color: var(--brand-color);
}

.recipes-card .btn {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.btn {
    display: inline-block;
    background: var(--white);
    color: var(--brand-color);
    padding: 16px 41px;
    border-radius: 50px;
    border: 2px solid var(--brand-color);
    text-decoration: none;
    font-size: 16px;
}

/* DETAIL PAGE */
.border-detail{
    border-bottom: 1px solid var(--grey);
}

.detail-page {
    margin-top: 40px;
}

.breadcrumb {
    font-size: 16px;
    color: var(--grey);
    margin: 72px 0 22px 0;
}

.detail-page h1 {
    font-size: 64px;
    font-weight: 600;
    color: var(--body-text);
    margin-bottom: 63px;
}

.detail-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.detail-text {
    flex: 1;
}

.detail-text .subtitle {
    font-size: 32px;
    line-height: 100%;
    font-weight: 600;
    color: var(--brand-color);
    margin-bottom: 40px;
}

.detail-text .content {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 40px;
}

.detail-image {
    flex: 0 0 50%;
}

.detail-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* FOOTER */
.footer {
    margin-top: 138px;
}

.footer .container {
    border-top: 1px solid var(--grey);
    padding: 72px 0 68px;
    font-size: 20px;
    color: var(--body-text);
}
